<div>
  <div>
    <h1>
      List of saved restaurants
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Save a new restaurant
    </h2>

    <form action="/insert_bookmark" method="post">
      <div>
        <label for="restaurant_id_box">
          Restaurant
        </label>
        <select name="query_restaurant_id" id="restaurant_id_box">
        <% Restaurant.all.order(:name).each do |restaurant| %>
            <option value="<%= restaurant.id %>">
              <%= restaurant.name %>
            </option>  
          <% end %>
        </select>
        
      </div>

      <button>
        Save restaurant
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        
        <th>
          Restaurant
        </th>
         <th>
          Stars
        </th>
        
        <th>
          Site Saves
        </th>
        <th>
          Bookmarked at
        </th>

        <th>
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>
       <td>
          <%= a_bookmark.restaurant.name %>
        </td>
       <td>
          <%= a_bookmark.restaurant.stars %> (<%= a_bookmark.restaurant.review_count %>)
        </td>
       <td>
          <%= a_bookmark.restaurant.bookmarks_count %>
        </td>
        <td>
          <%= time_ago_in_words(a_bookmark.updated_at) %> ago
        </td>
        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id %>">Remove</a>
        </td>
        <td>
          <a href="/restaurants/<%= a_bookmark.restaurant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
