<div>
  <div>
    <h1>
      Outing participant #<%= @the_outing_participant.id %> details
    </h1>

    <div>
      <div>
        <a href="/outing_participants">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_outing_participant/<%= @the_outing_participant.id %>">
          Delete outing participant
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Outing
      </dt>
      <dd>
        <%= @the_outing_participant.outing_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_outing_participant.user_id %>
      </dd>

      <dt>
        Participant submitted
      </dt>
      <dd>
        <%= @the_outing_participant.participant_submitted %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing_participant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing_participant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit outing participant
    </h2>

    <form action="/modify_outing_participant/<%= @the_outing_participant.id %>"  method="post" >
      <div>
        <label for="outing_id_box">
          Outing
        </label>

        <input type="text" id="outing_id_box" name="query_outing_id" value="<%= @the_outing_participant.outing_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_outing_participant.user_id %>">
      </div>

      <div>
        <input type="checkbox" id="participant_submitted_box" name="query_participant_submitted" value="1" <%= "checked" if @the_outing_participant.participant_submitted %>>

        <label for="participant_submitted_box">
            Participant submitted
        </label>
      </div>

      <button>
        Update outing participant
      </button>
    </form>
  </div>
</div>

<hr>
