<div>
  <div>
    <h1>
      List of all restaurant categories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new restaurant category
    </h2>

    <form action="/insert_restaurant_category" method="post">
      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <div>
        <label for="restaurant_id_box">
          Restaurant
        </label>

        <input type="text" id="restaurant_id_box" name="query_restaurant_id">
      </div>

      <button>
        Create restaurant category
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Category
        </th>

        <th>
          Restaurant
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_restaurant_categories.each do |a_restaurant_category| %>
      <tr>
        <td>
          <%= a_restaurant_category.id %>
        </td>

        <td>
          <%= a_restaurant_category.category_id %>
        </td>

        <td>
          <%= a_restaurant_category.restaurant_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_restaurant_category.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_restaurant_category.updated_at) %> ago
        </td>

        <td>
          <a href="/restaurant_categories/<%= a_restaurant_category.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
