<div>
  <div>
    <h1>
      Outing #<%= @the_outing.id %> details
    </h1>
    <h2>
      Not all participants have completed. Try again later to see the results
    </h2>
    <div>
      <div>
        <a href="/outings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_outing/<%= @the_outing.id %>">
          Delete outing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Completed
      </dt>
      <dd>
        <%= @the_outing.completed %>
      </dd>

      <dt>
        Sender
      </dt>
      <dd>
        <%= @the_outing.sender_id %>
      </dd>

      <dt>
        Outing participants count
      </dt>
      <dd>
        "<%= @the_outing.outing_participants_count %>"[[Add user details]]
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
