<div>
  <div>
    <h1>
      Outing #<%= @the_outing.id %> details
    </h1>

    <div>
      <div>
        <a href="/outings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_outing/<%= @the_outing.id %>">
          Delete outing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Status
      </dt>
      <dd>
        <%= @the_outing.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
<div>
  <div>
    <h2>
      Add a new invitation
    </h2>

    <form action="/insert_invitation" method="post">
      <div>
            <input type="hidden" name="query_outing_id" value = "<%= @the_outing.id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create invitation
      </button>
    </form>
  </div>
</div>
