
<div class="container">
  <div class="row justify-content-between">
    <div class="col">
      <h1>
        Recent activity
      </h1>
    </div>
    <div class="col-2 align-self-center">
    <a class="btn btn-outline-primary" href="/outings/new" role="button">New outing</a>
    </div>
    <hr>
    </div>

    <div class="row">
      <% @list_of_outings1.each_with_index do |an_outing, index| %>
        <div class="col p-2">
          <div class="card">
            <% if an_outing.completed == true %>
              <h5 class="card-header text-bg-success">Completed</h5>
            <% elsif an_outing.outing_participants.where(user_id: @current_user.id ).first.participant_submitted %>
              <h5 class="card-header text-bg-warning">Awaiting others</h5>
            <% else%>
              <h5 class="card-header text-bg-danger">Action needed</h5>
            <% end %>
            <div class="card-body">
              <% if an_outing.updated_at == an_outing.created_at%>
                <h5 class="card-title">Outing updated</h5>
              <% else%>
                <h5 class="card-title">New outing</h5>
              <% end%>
              <h6 class="card-subtitle mb-2 text-muted"><%= an_outing.updated_at.strftime("%b %-d, %Y") %></h6>
              <p class="card-text">
                Outing includes:
                <% other_participants = an_outing.participants.where.not({id: @current_user.id})%>
                <% other_participants.each do |participant| %>
                  <%= participant.username %>
                <% end  %>
              </p>
              <a href="/outings/<%= an_outing.id %>" class="card-link">See more</a>
            </div>
          </div>
        </div>

      <% end%>
    </div>
    <div class="row">
      <% @list_of_outings2.each_with_index do |an_outing, index| %>
        <div class="col p-2">
          <div class="card">
            <% if an_outing.completed == true %>
              <h5 class="card-header text-bg-success">Completed</h5>
            <% elsif an_outing.outing_participants.where(user_id: @current_user.id ).first %>
              <h5 class="card-header text-bg-warning">Awaiting others</h5>
            <% else%>
              <h5 class="card-header text-bg-danger">Action needed</h5>
            <% end %>
            <div class="card-body">
              <% if an_outing.updated_at == an_outing.created_at%>
                <h5 class="card-title">Outing updated</h5>
              <% else%>
                <h5 class="card-title">New outing</h5>
              <% end%>
              <h6 class="card-subtitle mb-2 text-muted"><%= an_outing.updated_at.strftime("%b %-d, %Y") %></h6>
              <p class="card-text">
                Outing includes:
                <% other_participants = an_outing.participants.where.not({id: @current_user.id})%>
                <% other_participants.each do |participant| %>
                  <%= participant.username %>
                <% end  %>
              </p>
              <a href="/outings/<%= an_outing.id %>" class="card-link">See more</a>
            </div>
          </div>
        </div>

      <% end%>
    </div>
  </div>
</div>
</div>
