<div>
<%# Design as button %>
  <a href="/outings/new">Create a new outing!</a>
</div>

<% if @outstanding_outings.count > 0%>
<div>
  <h1>
    List of all incomplete outings
  </h1>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Completed
        </th>

        <th>
          Sender
        </th>

        <th>
          Outing participants count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @outstanding_outings.each do |an_outing| %>
      <tr>
        <td>
          <%= an_outing.id %>
        </td>

        <td>
          <%= an_outing.completed %>
        </td>

        <td>
          <%= an_outing.sender_id %>
        </td>

        <td>
          <%= an_outing.outing_participants_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_outing.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_outing.updated_at) %> ago
        </td>

        <td>
          <a href="/outings/<%= an_outing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<% end %>


<% if @awaiting_outings.count > 0%>

<div>
  <h1>
    List of all in progress outings
  </h1>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Completed
        </th>

        <th>
          Sender
        </th>

        <th>
          Outing participants count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @awaiting_outings.each do |an_outing| %>
      <tr>
        <td>
          <%= an_outing.id %>
        </td>

        <td>
          <%= an_outing.completed %>
        </td>

        <td>
          <%= an_outing.sender_id %>
        </td>

        <td>
          <%= an_outing.outing_participants_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_outing.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_outing.updated_at) %> ago
        </td>

        <td>
          <a href="/outings/<%= an_outing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<% end %>

<% if @completed_outings.count > 0%>
<div>
  <h1>
    List of all completed outings
  </h1>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Completed
        </th>

        <th>
          Sender
        </th>

        <th>
          Outing participants count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @completed_outings.each do |an_outing| %>
      <tr>
        <td>
          <%= an_outing.id %>
        </td>

        <td>
          <%= an_outing.completed %>
        </td>

        <td>
          <%= an_outing.sender_id %>
        </td>

        <td>
          <%= an_outing.outing_participants_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_outing.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_outing.updated_at) %> ago
        </td>

        <td>
          <a href="/outings/<%= an_outing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>
<hr>
