<div>
  <div>
    <h1>
      Outing response #<%= @the_outing_response.id %> details
    </h1>

    <div>
      <div>
        <a href="/outing_responses">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_outing_response/<%= @the_outing_response.id %>">
          Delete outing response
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Option
      </dt>
      <dd>
        <%= @the_outing_response.option_id %>
      </dd>

      <dt>
        Participant
      </dt>
      <dd>
        <%= @the_outing_response.participant_id %>
      </dd>

      <dt>
        Participant selected
      </dt>
      <dd>
        <%= @the_outing_response.participant_selected %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing_response.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing_response.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit outing response
    </h2>

    <form action="/modify_outing_response/<%= @the_outing_response.id %>"  method="post" >
      <div>
        <label for="option_id_box">
          Option
        </label>

        <input type="text" id="option_id_box" name="query_option_id" value="<%= @the_outing_response.option_id %>">
      </div>

      <div>
        <label for="participant_id_box">
          Participant
        </label>

        <input type="text" id="participant_id_box" name="query_participant_id" value="<%= @the_outing_response.participant_id %>">
      </div>

      <div>
        <input type="checkbox" id="participant_selected_box" name="query_participant_selected" value="1" <%= "checked" if @the_outing_response.participant_selected %>>

        <label for="participant_selected_box">
            Participant selected
        </label>
      </div>

      <button>
        Update outing response
      </button>
    </form>
  </div>
</div>

<hr>
