<div>
  <div>
    <h1>
      List of all invitations
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new invitation
    </h2>

    <form action="/insert_invitation" method="post">
      <div>
        <label for="outing_id_box">
          Outing
        </label>

        <input type="text" id="outing_id_box" name="query_outing_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <button>
        Create invitation
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Outing
        </th>

        <th>
          User
        </th>

        <th>
          Status
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_invitations.each do |an_invitation| %>
      <tr>
        <td>
          <%= an_invitation.id %>
        </td>

        <td>
          <%= an_invitation.outing_id %>
        </td>

        <td>
          <%= an_invitation.user_id %>
        </td>

        <td>
          <%= an_invitation.status %>
        </td>

        <td>
          <%= time_ago_in_words(an_invitation.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_invitation.updated_at) %> ago
        </td>

        <td>
          <a href="/invitations/<%= an_invitation.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
