<div>
  <div>
    <h1>
      Outing option #<%= @the_outing_option.id %> details
    </h1>

    <div>
      <div>
        <a href="/outing_options">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_outing_option/<%= @the_outing_option.id %>">
          Delete outing option
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Outing
      </dt>
      <dd>
        <%= @the_outing_option.outing_id %>
      </dd>

      <dt>
        Restaurant
      </dt>
      <dd>
        <%= @the_outing_option.restaurant_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing_option.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing_option.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
