<div>
  <div>
    <h1>
      List of all restaurants
    </h1>
  </div>
</div>
<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :name_cont, "Name containing" %>
    <%= f.text_field :name_cont, :placeholder => "Enter a few characters" %>
  </div>

  <div>
    <%= f.label :stars_gteq, "Rating at least" %>
    <%= f.text_field :stars_gteq, :placeholder => "Rating greater than or equal to" %>
  </div>
<%# Could be tag based here %>
  <div>
    <%= f.label :city_cont, "City" %>
    <%= f.text_field :city_cont, :placeholder => "Enter a few characters" %>
  </div>

<div>
  <%= f.label :categories_category_cont, "Tags include" %>
  <%= f.text_field :categories_category_cont, :placeholder => "Enter a few characters"  %>
</div>

<div>
  <%= f.label :categories_category_eq, "Category" %>
  <%= f.select :categories_category_eq, options_from_collection_for_select(Category.all, :category, :category, @q.categories_category_eq), { :include_blank => true } %>
</div>
<div>
  <%= f.label :city_eq, "City" %>
  <%= f.select :city_eq, options_from_collection_for_select(Restaurant.all, :city, :city, @q.city_eq), { :include_blank => true } %>
</div>
<div>
  <%= f.label :stars_gteq, "Rating at least" %>
  <%= f.select :stars_gteq, options_from_collection_for_select(Restaurant.all, :stars, :stars, @q.stars_gteq), { :include_blank => true } %>
</div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/restaurants">Clear filters</a>
<% end %>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Name
        </th>
        <th>
          Address
        </th>
        <th>
          Tags
        </th>
        <th>
          Rating
        </th>
        <th>
          Number of Reviewers
        </th>
        
        <th>
        </th>
        <th>
        </th>
      </tr>
     
      <% @list_of_restaurants.each do |a_restaurant| %>
      <tr>
        <td>
          <%= a_restaurant.name %>
        </td>

        <td>
          <%= a_restaurant.address %>
        </td>
        <td>
          TBD Tags
        </td>

        <td>
          <%= a_restaurant.stars %>
        </td>
  
        <td>
          <%= a_restaurant.review_count %>
        </td>

        <td>
          <% current_bookmark = @current_user.bookmarks.where({ :restaurant_id => a_restaurant.id}) %>
          <% if current_bookmark.count == 0 %>
            <form action="/insert_bookmark" method="post">
                <input type="hidden" name="query_restaurant_id" value="<%= a_restaurant.id %>">
            <button>Bookmark!</button>
            </form>
          <% else %>
            <a href="/delete_bookmark/<%= current_bookmark.at(0).id %>">Un-bookmark</a>
          <% end %>
        </td>

        <td>
          <a href="/restaurants/<%= a_restaurant.id %>">Show details</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
    <hr>
