<div>
  <div>
    <h1>
      Restaurant #<%= @the_restaurant.id %> details
    </h1>

    <div>
      <div>
        <a href="/restaurants">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_restaurant/<%= @the_restaurant.id %>">
          Delete restaurant
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_restaurant.name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_restaurant.address %>
      </dd>

      <dt>
        Cuisine
      </dt>
      <dd>
        <%= @the_restaurant.cuisine %>
      </dd>

      <dt>
        Price point
      </dt>
      <dd>
        <%= @the_restaurant.price_point %>
      </dd>

      <dt>
        Bookmarks count
      </dt>
      <dd>
        <%= @the_restaurant.bookmarks_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_restaurant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_restaurant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit restaurant
    </h2>

    <form action="/modify_restaurant/<%= @the_restaurant.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_restaurant.name %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_restaurant.address %>">
      </div>

      <div>
        <label for="cuisine_box">
          Cuisine
        </label>

        <input type="text" id="cuisine_box" name="query_cuisine" value="<%= @the_restaurant.cuisine %>">
      </div>

      <div>
        <label for="price_point_box">
          Price point
        </label>

        <input type="text" id="price_point_box" name="query_price_point" value="<%= @the_restaurant.price_point %>">
      </div>

      <div>
        <label for="bookmarks_count_box">
          Bookmarks count
        </label>

        <input type="text" id="bookmarks_count_box" name="query_bookmarks_count" value="<%= @the_restaurant.bookmarks_count %>">
      </div>

      <button>
        Update restaurant
      </button>
    </form>
  </div>
</div>

<hr>
